
:root {
    /* Typography Variables */
    --font-family: 'Poppins', sans-serif;
    --normal-font-weight: 400;
    --bold-font-weight: 700;
    --normal-font-style: normal;
    --italic-font-style: italic;
    --font-size-small: 14px;
    --font-size-medium: 16px;
    --font-size-large: 20px;
    --font-size-xlarge: 24px;

    /* Color Variables */
  --primary-color: #4CAF50;
  --secondary-color: #ff9800;
  --background-color: #f5f5f5;
  --text-color: #333333;

}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
    font-family: var(--font-family);
    font-size: var(--font-size-small);
    background-color: var(--background-color);
    color: var(--text-color);
  
}